@import "../../theme/variable";

.title {
  text-align: center;
  margin-top: 10rem;
  color: $color-app-red;
  font-size: 3rem;
  transition: color .3s ease-in-out;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {color:$color-app-yellow; transform: scale(1)}
  50%  {color:$color-app-red; transform: scale(1.3)}
  100% {color:$color-app-yellow; transform: scale(1)}
}