@import '../../theme/variable';

.card_left {
  border-radius: 5px;
  width: 100%;
  background-image: linear-gradient(to right, $color-app-white, $color-app-yellow);
}

@media screen and (max-width: 991px) {
  .card_right {
    display: none;
  }
  .flex_direction_column {
    flex-direction: column;
  }
}