.link {
  cursor: pointer;
}
.header_logo {
    width: 7rem;
    border: 1px solid yellow;
    border-radius: 10px;
  }

.menu_wrapper {
  display: flex;
}

.absolute {
  position: absolute;
  right: 1rem;
  top: 1.2rem;
}

.absolute:focus {
  outline: none;
}

@media only screen and (max-width: 991px){
  .padding_right {
    margin-right: 5rem;
  }
}

header {
  width: 100%;
}

