.link {
  cursor: pointer;
}
.header_logo {
    width: 7rem;
    border: 1px solid yellow;
    border-radius: 10px;
  }

.menu_wrapper {
  display: flex;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}